header{
    position: relative;
    display: block;
    background-color: #4aaaa5;
    border-color:#cccccc;
    border: 3px solid;
    width: 250px;
    z-index: 2;
}

#nav {
   width:100%;
   z-index: 1;
   background-color: white;
}

ul{
    display:inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: black;
    background-color:yellow;
}
    

body {
    background-color:#cccccc;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
}

p {
    width: 960px
}

.container {
    width: 960px;
    border: 3px solid;
    margin: 30px 60px 50px 60px;
    padding: 15px 15px 15px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: white
}

footer {
    background-color: #666666;
}

h2 {
    color:#4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.wrapper {
    font-family:Arial, Helvetica, sans-serif
}


